# AI Accelerator Konfiguration
# Minimale Konfiguration für erstes kleines Programm

# Filter Parameter
FILTER_SIZE = 3

# Daten Parameter  
DATA_WIDTH = 8

# Image Parameter (erstmal 1D - Grayscale)
# Später erweitern wir auf RGB (3D)
IMAGE_CHANNELS = 1

# Test Image Patch Size (3x3)
IMAGE_PATCH_SIZE = 3
